services:
  backend:
    image: golang:alpine
    working_dir: /app
    volumes:
      - ./backend:/app
    # command: tail -f /dev/null
    command: >
      sh -c "go mod tidy && go run cmd/main.go" 
    ports:
      - "8080:8080"
    environment:
      - FUNCTION_TARGET=AnalyzeText # エントリーポイントとなる関数名
      - SHARED_SECRET=test-secret # テスト用の共通鍵

  extension:
    image: node:lts-alpine
    working_dir: /app
    volumes:
      - ./extension:/app
    command: tail -f /dev/null
