services:
  backend:
    image: golang:1.23-alpine
    working_dir: /app
    volumes:
      - ./backend:/app
    command: >
      sh -c "go install github.com/GoogleCloudPlatform/functions-framework-go/funcframework@latest &&
             go mod tidy &&
             go run cmd/main.go" 
    ports:
      - "8080:8080"
    environment:
      - FUNCTION_TARGET=AnalyzeText # エントリーポイントとなる関数名
